<head>
    <meta charset="UTF-8">
    <title>{% block title %}Banky{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>